.header {
  margin: 1rem;
}

.statsSection {
  display: flex;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

@media (max-width: 1024px) {
  .statsSection {
    flex-direction: column;
  }
}
