body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  font-size: 80px;
  font-weight: 700;
  height: 100vh;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}

.light-colour,
.light-colour a,
.light-colour a:visited {
  color: #666;
}

.dark-colour,
.dark-colour a,
.dark-colour a:visited {
  color: #fff;
}

@media (max-width: 480px) {
  body {
    font-size: 36px;
  }
}
