body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  font-size: 80px;
  font-weight: 700;
  height: 100vh;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}
