:root {
  --stats-background: #eee;
  --margin-width: 10px;
  --transition-duration: 0.2s;
}

.stat {
  background-color: var(--stats-background);
  border: var(--margin-width) solid var(--stats-background);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
  display: flex;
  flex-direction: column-reverse;
  margin: var(--margin-width);
  width: 300px;
}

.title {
  color: #666;
  font-size: 2rem;
  margin: 0;
  margin-top: var(--margin-width);
}

.colourList {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 250px;
  margin: 0;
  padding: 0;
  width: 300px;
}

.colourItem {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 2rem;
  justify-content: center;
  transition: all var(--transition-duration);
}

.colourItemSelected {
  flex-grow: 100;
}

.colourItemUnselected {
  flex-grow: 20;
}

.colourItemContents {
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-duration);
}

.colourItemSelected .colourItemContents {
  opacity: 1;
}
